<footer>
  <div class="footer-inner">
  <img src="https://s4e.ai/media/footer/jhu.png" alt="Johns Hopkins University logo">
  <div class="contact">
    <div class="contact-line">Entropy for Energy Laboratory</div>
    <div class="contact-line">Department of Materials Science and Engineering</div>
    <div class="contact-line">Johns Hopkins University</div>
    <div class="contact-line">Baltimore, Maryland</div>
  </div>
  <div class="sponsors">
  <a href="https://spacestudies.jhu.edu" target="_blank"><img src="https://s4e.ai/media/footer/pic_space_at_hopkins_logo.png" alt="space@Hopkins logo" class="sponsor"></a>
  <a href="https://www.idies.jhu.edu" target="_blank"><img src="https://s4e.ai/media/footer/idies.png" alt="IDIES logo" class="sponsor"></a>
  <a href="https://md.spacegrant.org/" target="_blank"><img src="https://s4e.ai/media/footer/mdsgc.png" alt="MDSGC logo" class="sponsor"></a>
  <a href="https://surpass.jhu.edu/" target="_blank"><img src="https://s4e.ai/media/footer/surpass.png" alt="SURPASS logo" class="sponsor"></a>
  <a href="https://arpa-e.energy.gov/" target="_blank"><img src="https://s4e.ai/media/footer/arpa_e.png" alt="ARPA_E logo" class="sponsor"></a>
  <a href="https://ai.jhu.edu/" target="_blank"><img src="https://s4e.ai/media/footer/dsai.png" alt="DSAI logo" class="sponsor"></a>
  <a href="https://energyinstitute.jhu.edu/" target="_blank"><img src="https://s4e.ai/media/footer/rosei.png" alt="ROSEI logo" class="sponsor"></a>
  </div>
    <details class="footer-contributors">
      <summary>Contributors</summary>
      <ul aria-label="LOOP contributors">
          <li class="footer-contributor">Corey Oses &middot; 2026–present</li>
          <li class="footer-contributor">Peter Boctor &middot; 2026–present</li>
          <li class="footer-contributor">Matthew Brownrigg &middot; 2026</li>
          <li class="footer-contributor">Guangshuai Han &middot; 2026</li>
          <li class="footer-contributor">Shubham Singh &middot; 2026–present</li>
          <li class="footer-contributor">M. D. Hashan C. Peiris &middot; 2026–present</li>
          <li class="footer-contributor">Jiayue Hu &middot; 2026–present</li>
          <li class="footer-contributor">Isabela LaFleur &middot; 2026–present</li>
          <li class="footer-contributor">Kendall Frederick &middot; 2026–present</li>
          <li class="footer-contributor">Bryan Lim &middot; 2026–present</li>
          <li class="footer-contributor">Avi Bregman &middot; 2026–present</li>
      </ul>
    </details>
  </div>
</footer>
