<nav class="site-nav" aria-label="Entropy for Energy site">
  <input id="menu_toggle" type="checkbox">
  <label for="menu_toggle" class="menu">
   <span class="menu-icon">
     <span class="menu-icon-bar"></span>
     <span class="menu-icon-bar"></span>
     <span class="menu-icon-bar"></span>
   </span>
   <span class="menu-text">Menu</span>
  </label>
  <ul>
      <li>
        <a id="nav_home" href="https://s4e.ai/">
          Home
        </a>
      </li>
      <li>
        <a id="nav_research" href="https://s4e.ai/research">
          Research
        </a>
      </li>
      <li>
        <a id="nav_publications" href="https://s4e.ai/publications">
          Publications
        </a>
      </li>
      <li>
        <a id="nav_team" href="https://s4e.ai/team">
          Team
        </a>
      </li>
      <li>
        <a id="nav_news" href="https://s4e.ai/news">
          News
        </a>
      </li>
      <li>
        <a id="nav_jobs" href="https://s4e.ai/jobs">
          Jobs
        </a>
      </li>
      <li>
        <a id="nav_workshops" href="https://s4e.ai/workshops">
          Workshops
        </a>
      </li>
      <li>
        <a id="nav_tools" href="https://s4e.ai/tools">
          Data and Tools
        </a>
      </li>
  </ul>
</nav>
